.detalle {
    background-color: var(--card);
    display: grid;
    grid-template-columns: repeat(3fr, 1fr);
    grid-template-rows: repeat(5fr, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 15px;
    width: 85%;
    margin: 0 auto;
}
.span {
    font-size: 1rem;
}

.detailsTitle {
    padding-top: 15px;
    grid-area: 1 / 1 / 2 / 3;
    margin: 0 auto;
}

.detailsIMG {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 auto;
    max-height: 425px;

}

.detailsStats {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 auto;
    padding: auto 0;
}

.pikachuContainer {

    margin: 0 auto;
}

.pikachu {
    margin: 0 auto;

}