div .pokemons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    max-height: 900px;
}

.nodec {
    text-decoration: none;
    color: black;
}

.cardBox {
    margin: 5px;
}

.notPokemonsFound {
    grid-area: 1 / 1 / 4 / 4;
    margin: 0 auto;
}