img {
    /* background-image: url('./pkmn.png'); */
    max-width: 100%;
    max-width: 100%;
}

div .landImg {
    height: 200px;
    width: 400px;
    margin: 0 auto
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.bgContainer {
    margin: 0;
}

.bgContainer {
    background-image: url(../../img/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 29rem;
    padding-top: 10rem;
    align-items: center;
    position: relative;
}

.btn:hover {
    cursor: pointer
}

h1 {
    font-size: 2.5rem;
}